*,*:after,*:before {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background-repeat:no-repeat;
  position:relative;
}



/*
 * Variables
 */
:root {
  --color--blue--dark:#1468ab;
  --color--blue:#3498db;
  --color--blue--light:#8bc4ea;

  --green:#2ecc71;

  --color--grey--dark:#181818;

  --color--white:#ecf0f1;

  --spacing--narrow:8px;
  --spacing--medium:20px;
  --spacing--very-large:60px;
}



/*
 * Dev output
 */
.dev-output {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:400px;
  height:800px;
  border:1px solid #888;
  overflow-y:scroll;
}

.cell-dev {
  margin:3px 1px 0 1px;
  float:left;
  padding:0 1px;
  font-size:9px;
  background-color:#555;
  color:#ddd;
}

.x-dev,.y-dev {
  background-color:#555;
  color:#ddd;
}

.state-dev {
  background-color:#3474c4;
  color:#ddd;
}



/*
 * Piece colours
 */
.blue {
  background-color:var(--color--blue);
  box-shadow:inset 0 0 1px 1px var(--color--blue--light);
}

.yellow {
  background-color:#f1c40f;
  box-shadow:inset 0 0 1px 1px #f7dc6f;
}

.green {
  background-color:var(--green);
  box-shadow:inset 0 0 1px 1px #7ee2a8;
}

.red {
  background-color:#e74c3c;
  box-shadow:inset 0 0 1px 1px #f29f97;
}

.grey {
  background-color:#95a5a6;
  box-shadow:inset 0 0 1px 1px #ccd4d5;
}

.black {
  background-color:#34495e;
  box-shadow:inset 0 0 1px 1px #587ca0;
}

.purple {
  background-color:#9b59b6;
  box-shadow:inset 0 0 1px 1px #c6a0d5;
}

.white {
  background-color:var(--color--white);
  box-shadow:inset 0 0 1px 1px #fff;
}

.orange {
  background-color:#e67e22;
  box-shadow:inset 0 0 1px 1px #f0b37e;
}

.turquoise {
  background-color:#1abc9c;
  box-shadow:inset 0 0 1px 1px #55e7ca;
}

body {
  background:#000;
  font-family:Consolas, monaco, monospace;
}



/*
 * Layout
 */
.layout--row {
  display:flex;
}
.layout--row > * {
  margin-right:var(--spacing--medium);
}
.layout--row.with-border > * {
  border-right:2px solid var(--color--grey--dark);
  padding-right:var(--spacing--medium);
}
.layout--row > *:last-child {
  border-right:none;
  margin-right:0;
  padding-right:0;
}

.layout--row.compact > * {
  margin-right:var(--spacing--narrow);
}
.layout--row.compact.with-border > * {
  padding-right:var(--spacing--narrow);
}

.layout--column {
  display:flex;
  flex-direction:column;
}
.layout--column > * {
  margin-bottom:var(--spacing--medium);
}
.layout--column.with-border > * {
  border-bottom:2px solid var(--color--grey--dark);
  padding-bottom:var(--spacing--medium);
}
.layout--column > *:last-child {
  margin-bottom:0;
}
.layout--column.with-border > *:last-child {
  border-bottom:none;
  margin-bottom:0;
  padding-bottom:0;
}



/*
 * Score and level
 */
.event-counter {
  height:20px;
  font-size:10px;
  text-align:center;
  color:#f0f0f0;
  opacity:0;
}

.score-wrapper {
  align-items:flex-end;
  padding-top:var(--spacing--very-large);
  width:25vw;
}

.score,.level {
  color:#f0f0f0;
  font-size:20px;
  font-weight:bold;
  height:40px;
  text-align:center;
  z-index:1;
}

.score:before {
  content:'score: ';
}

.level:before {
  content:'level: ';
}

.scores {
  top:20px;
  left:20px;
  width:244px;
  padding:20px;
  border:2px solid #f0f0f0;
  font-size:16px;
  color:#f0f0f0;
  text-transform:uppercase;
}

.scores .high-score {
  width:100%;
  float:left;
}

.scores .hs-name {
  width:50px;
  float:left;
}

.scores .hs-score {
  width:60px;
  float:left;
}

.scores .hs-level {
  width:40px;
  float:left;
}

.scores .position {
  width:20px;
  float:left;
}

.scores .high-score {
  width:200px;
  padding:5px 5px 3px;
  margin-bottom:5px;
  border:1px solid transparent;
}

.scores .hs-row-second {
  border:1px solid #eec900;
}

.scores .hs-row-gold,.scores .hs-row-second {
  color:#eec900;
  font-weight:bold;
  text-shadow:0 0 3px #eec900;
}

.scores .hs-row-silver {
  color:#ccc;
  font-weight:bold;
  text-shadow:0 0 1px #ccc;
}

.scores .hs-row-bronze {
  color:#CD7F32;
}

.scores .hs-row-first {
  background-color:#eec900;
  color: var(--color--grey--dark);
  font-weight:bold;
}



/*
 * High scores
 */
.high-score {
  align-self: flex-end;
}
.high-score .current .high-score__value {
  color:var(--green);
}
.high-score__value {
  color: var(--color--white);
  width: 5.8vw;
}
.high-score__level,
.high-score__score {
  text-align: right;
}
.high-score__level {
  width:3vw;
}
.high-score__score {
  width:6.5vw;
}



/*
 * Game board
 */
.grid-wrapper {
  align-items:center;
  display:flex;
  width:50vw;
  justify-content:center;
}
.grid {
  width:47.3vh;
  height:81.7vh;
}
.cell {
  width:4.3vh;
  height:4.3vh;
  display:inline-block;
  float:left;
}



/*
 * Info and settings output
 */
.info-and-settings-wrapper {
  align-items: flex-start;
  padding-top:var(--spacing--very-large);
  width:25vw;
}
.next-piece {
  align-self:flex-start;
  width:21.5vh;
  height:21.5vh;
}



/*
 * High-score form
 */
.form-background {
  align-items:center;
  background-color:rgba(255,255,255,0.75);
  bottom:0;
  left:0;
  opacity:0;
  padding-top:15vh;
  position:fixed;
  right:0;
  top:0;
}
.form-label {
  font-size:2em;
}

.high-score-form {
  background:#f0f0f0;
  border:2px solid var(--color--blue);
  border-radius:4px;
  height:66px;
  opacity:0;
  position:relative;
  width:40vw;
}

.high-score-form input {
  border:2px solid var(--color--grey--dark);
  margin:0;
  padding:0 12px;
  position:absolute;
}

.high-score-form input[type=text] {
  border-radius:2px 0 0 2px;
  color:var(--color--grey--dark);
  font-size:56px;
  font-weight:bold;
  height:62px;
  left:0;
  letter-spacing:10px;
  text-align:center;
  text-transform:uppercase;
  width:60%;
}

.high-score-form input[type=submit] {
  background-color: var(--color--grey--dark);
  border-radius:0 2px 2px 0;
  color:#f0f0f0;
  font-size:24px;
  height:62px;
  right:0;
  width:40%;
}

.high-score-form input[type=submit]:active {
  background-color:var(--color--blue--dark);
  color:var(--color--grey--dark);
}
